{% extends "base.html" %}

{% block content %}

<div class="list">
    <p><strong><a href="https://arxiv.org/pdf/{{ paper.id }}">{{ paper.title }}</a></strong></p>
    <p>{{ paper.abstract }}</p>
    <p><small>Authors:
    {% for author in paper.authors %}
        <a href="http://127.0.0.1:5000/author/{{ author }}">{{ author }}</a>
    {% endfor %}
    </small></p>
    <p><small>Update Date: {{ paper.update_date }}</small></p>
</div>

<strong>Inner Citations</strong>
{% for citation in paper.citations  %}

<p><a href="http://127.0.0.1:5000/paper/{{ citation }}">Paper Link</a></p>

{% endfor  %}

{% endblock %}
